<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Authlib Connect</title>
   </head>
   <br>

   <body>
      <p align="center">
         <a href="/product">
         <button style="height:100px;width:400px;font-size: 20px;">Thank you for login using Google! <br>
                Press the button to continue shopping</button>
         </a>
      </p>

      <p align="center">
        <a href="/logout_google">Logout</a>


   </body>
</html>